
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Flatiron School - Students</title>
  <link href="css/style.css" type="text/css" rel="stylesheet">
  <link href="css/matz.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="js/libs/jquery-1.4.3.min.js"></script>
  <script type="text/javascript" src="js/libs/modernizr-1.7.min.js"></script>
</head>

<body>
<div id="page">
  <header id="header">
    <div class="center">
      <nav id="main-menu">
        <ul>
          <li class="site-title"><a href="index.html">Students @ Flatiron School</a></li>
        </ul>
        <ul>
          <li><a href="http://flatironschool.com">More about Our School</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </header>

  <section id="about" class="about-us content">


        <div class="jrcolumns">
          <!-- LEFT COLUMN -->
          <div id='navcontainer'class="one_third">




<div class="jonas-profile-photo">
  <img src="images/circle-mask.png"/>
</div>


            <nav id='side-nav'>
              <ul>
                <li class='mail'><a href=<%= email %>>Mail</a></li>
                <li class='blog'><a href=<%= blog %>>Blog</a></li>
                <li class='linkedin'><a href=<%= linkedin %>>LinkedIn</a></li>
                <li class='twitter'><a href=<%= twitter %>>Twitter</a></li>
              </ul>
            </nav> <!-- this is the end of side nav -->
          </div>
          <!-- MIDDLE COLUMN -->
          <div class="two_third">
            <h1><%= first_name last_name %></h1>
            <h2 id='tagline'><%= tagline %></h2>
            <p><%= bio %></p>

<br/><br/>
            <h2 id='tagline'>My favorite stuff</h2>

<% fav_apps.each do |app|  %>
  <div class="one_third">
    <h4><%= name %></h4>
    <p><%= description %></p>
  </div>
  <% end %>


          </div>
          <!-- RIGHT COLUMN -->

        <div class="clear"></div>

        <h2 class="title"><span>Coder Cred</span></h2>



          <div class="columns">
          <div class="coder-cred">
            <div class="one_fifth"><a href=<%= github %>><div class="cred-github"></div></a></div>
            <div class="one_fifth"><a href=<%= codeschool %>><div class="cred-codeschool"></div></a></div>
            <div class="one_fifth"><a href=<%= coderwall %>><div class="cred-coderwall"></div></a></div>
            <div class="one_fifth"><a href=<%= stackoverflow %>><div class="cred-stackoverflow"></div></a></div>
            <div class="one_fifth last"><a href=<%= treehouse %>><div class="cred-treehouse"></div></a></div>
          </div>
          </div>

        <div class="clear"></div>
        <h2 class="title"><span>Social Nerdery</span></h2>

        
        <div class="one_half">
          <% feet_1 each do |script| %>
          <%= script %>
        </div>

        <div class="one_half last">

          <% feet_2 each do |script| %>
          <%= script %>

        </div>
      <div class="clear"></div>
        <h2 class="title">&nbsp;</h2>
<section id="copyright" class="footer content">
    <div class="center">
      <p>&copy; 2012. All Your Rights Are Belong To Us.</p>
      <div class="clear"></div>
    </div>
  </section>


        </div>
    </div>
  </section>
</body>
</html>
